#navbar
{
    height: 100px;
    width: 900px;
    background-image:url("https://t4.ftcdn.net/jpg/03/67/77/59/360_F_367775957_UMmb63PtKFsFUG0E6ikyKSIsVVA5GW2b.jpg");
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 500px) 
 {
    #navbar
    {
        background-color: burlywood;
    }
}
.nav-link
{
    color:white;
}


